<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100%;
      }
    </style>
    <title>Home</title>
  </head>
  <body>
      <div class="container">
          <h1>This is the home page of Classroom API</h1>
          <h4>Available URL's :</h4>
          <ul>
              <li>/users</li>
              <li>/users/id</li>
              <li>/material</li>
              <li>/material/id</li>
              <li>/classroom</li>
              <li>/classroom/id</li>
              <li>/stream</li>
              <li>/stream/id</li>

          </ul>
      </div>
  </body>
</html>
